*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'mulish',sans-serif;
}

.container{
    display: flex;
     position: relative;
}

.leftside{
    width: 45%;
    height: 90vh;
   
}
.rightside{
     width: 55%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 75px;
}
.leftside img{
    width: 100%;
    height: 543px;
}
.logo img{
    height: 60px;
    width: 200px;
    margin-right: 115px;
    
}
.login a:hover{
    color: #fc8019;
}

.login a{
    text-decoration: none;
    color: black;
    padding: 15px 30px;
    font-weight: bold;
}
.login button{
    cursor: pointer;
    background-color: black;
    color: white;
    border: 0;
    padding: 15px 30px;
    font-weight: bold;
}
.content{
    position: absolute;
    top: 35%;
    left: 55px;
}
.content h2{
    font-weight: lighter;
    color: #686b78;
}
.content h1{
    font-size: 40px;
    margin-bottom: 10px;
} 
.inputtype{
    display: flex;
}
.inputtype input{
    border:solid 1px;
    width: 500px;
    margin-top: 46px;
    padding: 19px;
    font-size: 18px;
    font-weight: 500;
}
.inputtype input:focus{
    outline:none;
    border-color: #fc8019;
}
.content button{
    margin-top: 46px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 24px 30px;
    border: none;
    margin-left: -6px;
    background-color:#fc8019 ;
    color: white;
    font-weight: 900;
}
.content2 h4{
    color: #a9abb2;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 300;
}.content2 h5{

    font-weight: 600;
    font-size: 16px;
    margin-right: 8px;
    color: #686b78;
    line-height: 1.5;
    margin-top: 15px;
}
.section2{
    width: 100%;
    height: 65vh;
    background-color:#2b1e16;
    display: flex;
    justify-content: space-around;

}.secimg{
    width: 135px;
    height: 215px;
}
.imgcontent h3{
    color: white;
    margin-top: 40px;
    text-align: center;
   
}.imgcontent h5{
    margin-top: 10px;
    color: #e0cbc1;
    text-align: center;
    font-weight: 300;
}.imgcontent{
    margin-left: -70px;
}
.container2{
    width: 100%;
    height: 90vh;
    display: flex;
}

.leftsec img{
    width: 400px
}
.container2{
    padding: 0 20px;
    position: relative;
}
.sec01{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fcontent{
    font-size: 40px;
    font-weight: 600;
    width: 300px;
}.scontent{
    font-size: 20px;
    width: 400px;
    font-weight: 300;
    padding-top: 20px;
    color: #7e808c;
}
.sec02 img{
    height: 54px;
    width: 150px;
    margin-top: 50px;
}
#playstore{
margin-left: 20px;

}.firstimg{
    position: absolute;
    top: 0;
    width: 30%;
    right: 330px;
  
}
.secondimg{
    position: absolute;
    bottom: 0;
    width: 30%;
    right: -15px;
}.sec-l1{
    padding: 0 20px;
    height: 80vh;
    background-color: black;
    display: flex;
    justify-content: space-between;

}
.l1{
    margin: 20px 20px 0 40px;
}
.l1 div{
    color: gray;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 70px 25px 30px 22px;
}
.l101 a{
    color: white;
    list-style: none;
    text-decoration: none;
    
}

.l101{
    list-style: none;
    margin: 20px 22px;
}
.l2 img{
    width: 200px;
    margin-top: 50px;
    display: block;
  
}.l2{
    margin: 20px;
}
.footer{
    padding-top: 40px;
    padding: 30px 30px;
    width: 100%;
    height: 20vh;
    background-color: black;
    border-top: solid 1px;
    border-color:grey;
    display: flex;
    justify-content: space-between;
}
.lastlogo img{
    width: 150px;
    margin-top: 8px;

    
}
.end{
    color: white;
    text-align: center;
    font-weight: 200;
    margin-top: 21px;
    margin-left: 125px;

}
.logos img{
    width: 25px; 

}
.logos{
    padding: 20px;
}

.footer-img{
    margin-left: 25px;
}

